@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap");

:root {
  --color-primary-lighter: #3e76c5;
  --color-primary-light: #2564bd;
  --color-primary: #0e55b6;
  --color-primary-dark: #0e4da6;
  --color-primary-darker: #0f4795;
  --color-secundary-light: none;
  --color-secundary: #8c1515;
  --color-secundary-dark: none;
  --color-white: #fff;
  --color-black: #111;
  --color-text-base: #d4c2ff;

  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body,
button,
input,
textarea {
  color: #fff;
  font: 500 1.6rem Nunito;
}
